<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shurencircle.mapper.RecommendMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="Recommend" id="recommendMap">
        <result property="id" column="id"/>
        <result property="floor" column="floor"/>
        <result property="imgPath" column="img_path"/>
        <result property="isEnable" column="is_enable"/>
        <result property="recommendName" column="recommend_name"/>
        <result property="recommendType" column="recommend_type"/>
        <result property="sequence" column="sequence"/>
        <result property="url" column="url"/>
        <result property="createTime" column="create_time"/>
        <result property="usedGoodsId" column="used_goods_id"/>

        <association property="usedGoods" javaType="UsedGoods">
            <id column="uid" property="id"/>
            <result column="goods_name" property="goodsName"/>
            <association property="usedGoodsCategoryOne" javaType="UsedGoodsCategory">
                <id column="cid1" property="id"/>
                <result column="category_name1" property="categoryName"/>
            </association>
            <association property="usedGoodsCategoryTwo" javaType="UsedGoodsCategory">
                <id column="cid2" property="id"/>
                <result column="category_name2" property="categoryName"/>
            </association>
        </association>

    </resultMap>


    <insert id="addRecommend" parameterType="Recommend">
        insert into  `recommend` (
                    `floor`,
                    `img_path`,
                    `is_enable`,
                    `recommend_name`,
                    `recommend_type`,
                    `sequence`,
                    `url`,
                    `used_goods_id`,
                    `create_time`
                )
        values(
                    #{floor},
                    #{imgPath},
                    #{isEnable},
                    #{recommendName},
                    #{recommendType},
                    #{sequence},
                    #{url},
                    #{usedGoodsId},
                    #{createTime}
                )
    </insert>


    <select id="queryAll" resultType="Recommend">
       select * from  `recommend` where  `used_goods_id` is null
   </select>

    <select id="queryRecommendGoods" resultMap="recommendMap">
       select r.*,u.id as uid,u.`goods_name` as `goods_name`,
       c1.`id` as cid1,c1.`category_name` as `category_name1`,
       c2.`id` as cid2,c2.`category_name` as `category_name2`
       from  `recommend` r,`used_goods` u,
       `used_goods_category` c1,`used_goods_category` c2
        where  r.`used_goods_id`=u.`id`
        and u.`category_one_id`=c1.`id`
        and u.`category_two_id`=c2.`id`
   </select>



    <select id="queryRecommendById" resultMap="recommendMap">
       select * from  `recommend` where `id`=#{id}
   </select>


    <update id="updateRecommend" parameterType="Recommend">
    update  `recommend`
    <trim prefix="set " suffixOverrides=","  suffix=" where id=#{id}">

        <if test="floor != null">
            `floor` = #{floor},
        </if>
        <if test="imgPath != null and imgPath != ''">
            `img_path` = #{imgPath},
        </if>
        <if test="isEnable != null">
            `is_enable` = #{isEnable},
        </if>
        <if test="recommendName != null and recommendName != ''">
            `recommend_name` = #{recommendName},
        </if>
        <if test="recommendType != null">
            `recommend_type` = #{recommendType},
        </if>
        <if test="sequence != null">
            `sequence` = #{sequence},
        </if>
        <if test="url != null and url != ''">
            `url` = #{url},
        </if>
        <if test="usedGoodsId != null">
            `used_goods_id` = #{usedGoodsId},
        </if>
        <if test="createTime != null">
            `create_time` = #{createTime},
        </if>
    </trim>
    </update>


    <delete id="deleteById" parameterType="Integer">
        delete from  `recommend` where id=#{id}
    </delete>

</mapper>